<!DOCTYPE html> {% extends 'base.html' %} {% block body_block %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">CONTACT</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, quasi! Nam deleniti tempora dolorem quaerat! Magni, sequi ad. Et ea illum aspernatur dignissimos enim voluptates sint modi soluta, impedit quaerat ipsa dolorem maxime, voluptas quae eveniet. Fuga reprehenderit nobis, nam recusandae, ex debitis necessitatibus explicabo, similique vitae exercitationem minima doloremque ullam natus magnam eveniet architecto. Molestias suscipit repellendus veritatis dolorem aspernatur quis ratione unde consequatur, voluptatem saepe autem maxime nostrum quos adipisci sequi! Consectetur ab sapiente cumque. Nam, nihil obcaecati!</p>
    </div>
</div>
{% endblock body_block %}